header{
    text-align: center;
    padding: 25px 0px;
}

.themeSwitch{
    position: absolute;
    top: 20px;
    right: 30px;
}

footer{
    border-top: 1px solid var(--bs-secondary-bg);
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
}
h3{
    padding-top: 20px;
}

hr{
    border-top: 1px solid var(--bs-secondary);
}